.cards-container {
  background-color: $yellow;
  font-family: 'ArialMT';

  .cards-max-width-title {
    max-width: 81rem !important;
  }

  .cards-max-width {
    max-width: 81rem !important;
  }

  .title {
    color: $placeholder-color;
    font-size: 1.4rem;

    @include media-breakpoint-up(md) {
      font-size: 1.88rem;
    }
  }

  .description {
    color: $placeholder-color;
  }

  .card-title {
    font-family: 'Arial-BoldMT';
    font-weight: 900;
  }
  
  .card {
    color: $placeholder-color;
    font-family: Arial;

    .card-description {
      font-size: 0.88rem;
    }

    .card-1-bg {
      height: 12.5rem;
      background-image: url("https://i.imgur.com/jCNgDuH.gif");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .card-2-info-div {
      height: 23.8rem;
    }

    .card-2-bg {
      min-height: 25rem;
      background-image: url("images/cards/card2.gif");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  .card-4-info-div {
    max-width: 20rem;
  }

  .card-4-bg {
    min-height: 22.4rem;
    background-image: url("https://i.imgur.com/FwDqsb7.gif");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card-3-img-div {
    min-height: 26.25rem;
    background-image: url("https://i.imgur.com/gZxASg5.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .last-card {
    min-height: 26.25rem;
  }

  .dm-video {
    background-image: url("https://i.imgur.com/kQynt0X.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .motion-design-video {
    background-image: url("https://i.imgur.com/eK11RSl.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .video-div {
    .play-button {
      @include media-breakpoint-only(sm) {
        max-width: 7rem !important;
      }

      @include media-breakpoint-up(xl) {
        max-width: 7rem !important;
      }
    }
  }

  .card-house {
    background-image: url("https://i.imgur.com/VrfHEfv.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}