.fashion-commercials {
  background-image: linear-gradient(#ee8199, #ff476e);

  .container-main-max-width {
    max-width: 86.75rem !important;
  }

  .title {
    font-size: 1.88rem;
  }

  .fashion-commercials-hr {
    border-bottom: 2px solid $fashion-commercials-border;
  }
  
  .video-div {
    
    .video-1 {
      background-image: url("https://i.imgur.com/vcssDBC.png");
    }

    .video-2 {
      background-image: url("https://i.imgur.com/uqSMC4J.png");
    }

    .video-1,
    .video-2 {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      height: 12rem;
      width: 100%;

      @include media-breakpoint-up(sm) {
        height: 28rem;
      }
    }
  }

  .description {
    @include media-breakpoint-up(lg) {
      max-width: 35.68rem;
    }
  }
}