.fashion-commercials {
  background-image: linear-gradient(#ee8199, #ff476e);

  .title {
    font-size: 1.88rem;
  }

  .fashion-commercials-hr {
    max-width: 40rem;
    border-bottom: 2px solid $fashion-commercials-border;
  }

  .video-div {
    max-width: 40rem;

    .play-button {
      left: 50% !important;
      top: 45% !important;
    }
  }
}