//Montserrat-ExtraLight
@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('fonts/Montserrat-ExtraLight.ttf') format('truetype');
}

// Montserrat
@font-face {
  font-family: 'Montserrat';
  src: url('fonts/Montserrat-Regular.ttf') format('truetype');
}

// Montserrat Bold
@font-face {
  font-family: 'Montserrat-Bold';
  src: url('fonts/Montserrat-Bold.ttf') format('truetype');
}

// ArialMT
@font-face {
  font-family: 'ArialMT';
  src: url('fonts/ArialMT.ttf') format('truetype');
}

// Arial-BoldMT
@font-face {
  font-family: 'Arial-BoldMT';
  src: url('fonts/Arial-BoldMT.ttf') format('truetype');
}