.font-weight-bold {
  font-family: 'Montserrat-Bold' !important;
}

.fs-giant {
  font-size: 1.6em;

  @include media-breakpoint-up(sm) { 
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) { 
    font-size: 2.4rem;
  }

  @media screen and (min-height: 1600px) {
    font-size: 3.13rem;
  }
}

.fs-heading {
  font-size: 1.4em;

  @include media-breakpoint-up(sm) { 
    font-size: 2rem;
  }

  @include media-breakpoint-up(md) { 
    font-size: 2.3rem;
  }

  @include media-breakpoint-up(xl) { 
    font-size: 2.5rem;
  }
}

.fs-bigger {
  font-size: 1.61rem;
}

.fs-big {
  font-size: 1.25rem;
}

.fs-small {
  font-size: 0.75rem;
}

.fs-smaller {
  font-size: 0.63rem;
}

.text-pink {
  color: $pink;
}

.title-shadow {
  text-shadow: 1.3px 1.3px 8px rgba(0,0,0,0.2);
}