* {
  font-family: 'Montserrat', sans-serif;
}

body {
  overflow-x: hidden !important;
}

.video-div {
  max-width: 53.63rem;
  filter: brightness(80%);
  transition: 0.3s ease-in-out;

  &:hover {
    filter: brightness(100%);
  }

  .play-button {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 100%;
    width: 6rem;
  
    @include media-breakpoint-up(sm) {
      width: 8rem;
    }

    @include media-breakpoint-up(lg) {
      width: 10rem;
    }

    @media screen and (min-width: 1800px) {
      width: 12rem !important;
    }

    &:hover {
      background-color: $play-button-hover-color;
    }
  }
}

.full-hd-max-width {
  max-width: 1920px !important;
}