.main-container {
  background-image: linear-gradient(#17205F, #6B3FD1);
}

.hero-button {
  width: 20.44rem;
  height: 3rem;
}

.hero-circle {
  height: 22.13rem;
  width: 22.13rem;

  div {
    left: 29%;
    top: 46%;
  }
}