.main-container {
  background-image: linear-gradient(#17205F, #6B3FD1);
}

.hero-button {
  width: 15.44rem;
  height: 3rem;
  margin-top: 2rem;

  @include media-breakpoint-up(md) { 
    width: 20.44rem;
    margin-top: 4rem;
  }

  @include media-breakpoint-up(xl) { 
    margin-top: 7rem;
  }
}

.hero-circle {
  height: 22.13rem;
  width: 22.13rem;

  div {
    left: 29%;
    top: 46%;
  }
}

.lottie-placeholder-container {
  #lottie-placeholder {
    position: absolute;
    width: 22rem;
    top: -16.8rem;
    left: -9.7rem;

    @media screen and (max-height: 1011px) {
      display: none;
    }

    @include media-breakpoint-up(md) { 
      width: 32rem;
      top: -24.3rem;
      left: -13.7rem;
    }
  }
}

.hero-description {
  margin-top: 2rem;

  @include media-breakpoint-up(md) { 
    margin-top: 4rem;
  }

  @include media-breakpoint-up(xl) { 
    margin-top: 6rem;
  }
}

#calendlyModal {
  @media screen and (min-width: 1800px) {
    iframe {
      background: white;
      padding-top: 2.5rem;
    }
  }
}