.main-container {
  background-image: linear-gradient(#17205F, #6B3FD1);
}

.hero-button {
  width: 15.44rem;
  height: 3rem;
  margin-top: 2rem;

  @include media-breakpoint-up(md) { 
    width: 20.44rem;
    margin-top: 4rem;
  }

  @include media-breakpoint-up(xl) { 
    margin-top: 7rem;
  }
}

.hero-circle {
  height: 22.13rem;
  width: 22.13rem;

  div {
    left: 29%;
    top: 46%;
  }
}

.lottie-placeholder-container {
  #lottie-placeholder {
    svg {
      transform: scale(1.3) !important;
    }
  } 
}

.hero-description {
  margin-top: 2rem;

  @include media-breakpoint-up(md) { 
    margin-top: 4rem;
  }

  @include media-breakpoint-up(xl) { 
    margin-top: 6rem;
  }
}