.modal.modal-custom {
  height: 100%;
  margin: 0;
  transform: translate(0);
  transition: all 0.5s;
  margin-left: auto; 
  transform: translateX(100%);
  
  .modal-dialog {
    padding: 5rem 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    max-width: none;
  }

  .modal-content  {
    height: 100% !important;
    border-radius: 0 !important;
    background-color: #ececec !important;
    // background-color: unset;

    height: inherit;
    border: 0;
    border-radius: 0;

    .modal-body {
      overflow-y: auto;
    }
  }
  
  .modal-placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    color: $placeholder-color;

    @include media-breakpoint-up(md) {
      font-size: 7.57rem;
    }
  }

  &.show {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}