.testimonials {
  background-image: url("images/testimonials/bottom.png");
  background-repeat: no-repeat;
  background-position: -20rem 170rem;

  @include media-breakpoint-up(sm) {
    background-position: -20rem 67rem;
  }

  @include media-breakpoint-up(lg) {
    background-position: -20rem 33rem;
  }

  @include media-breakpoint-up(xl) {
    background-position: -18rem 26rem;
  }

  .interested-working-div {
    margin-top: 2rem;

    @include media-breakpoint-up(sm) {
      margin-top: 5rem;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 12rem;
    }
  }

  .title {
    color: $testimonials-title;
  }

  .description {
    color: $testimonials-title;
  }

  .card-body {
    color: $placeholder-color;
    background-color: $testimonials-card-bg;
  }

  .card-description {
    font-size: 0.87rem;
  }

  .card-pills {
    font-size: 0.63rem;

    .card-pill {
      color: $neon;
      border: 1px solid $neon;
    }
  }

  .footer-title {
    font-size: 0.63rem;
  }

  .working-with-me {
    color: $placeholder-color;
    font-size: 2rem;

    @include media-breakpoint-up(md) {
      font-size: 2.3rem;
    }

    @include media-breakpoint-up(xl) {
      font-size: 3rem;
    }
  }

  .btn-lets-talk {
    background: $placeholder-color;
    color: $testimonials-card-bg;
  
    &:hover {
      background: $testimonials-card-bg;
      color: $placeholder-color;
    }
  }

  .icon-contact {
    color: $testimonials-card-bg;
    background: $placeholder-color;
    height: 4rem;
    width: 4rem;
    line-height: 4.7rem;
  
    i {
      font-size: 2rem;
    }

    @include media-breakpoint-up(xl) {
      height: 6rem;
      width: 6rem;
      line-height: 7.45rem;

      i {
        font-size: 3rem;
      }
    }
  }

  #lottie-pink-2 {
    position: absolute;
    z-index: -1;
    width: 50rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    width: 40rem;

    @include media-breakpoint-only(md) {
      width: 50rem;
      left: 50%;
      top: 47%;
    }

    @include media-breakpoint-up(lg) {
      width: 60rem;
    }

    @include media-breakpoint-up(xl) {
      width: 100%;
    }
  }

  .modal-dialog {
    max-width: 90% !important;
    margin: auto !important;
  }

  #letsTalkModal {
    .title {
      font-size: 1.6rem;
      @media screen and (min-width: 1500px) {
        font-size: 2.23rem;
      }
    }

    .modal-body {
      overflow-y: initial !important;

      @include media-breakpoint-down(sm) {
        margin-top: -3rem;
        padding: 0 0 0 2rem !important;
      }
    }

    .modal-content {
      max-height: auto !important;
      background: unset !important;
    }

    .image-contact {
      background-image: url("images/testimonials/contact-left.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      
    }

    .form-img-container {
      @include media-breakpoint-up(xl) {
        background: white;
      }
    }

    .form-container {
      font-size: 1.3rem;
      color: $contact-form-color;

      @media screen and (min-width: 1200px) and (max-width: 1499px) {
        padding: 1.2rem 4rem !important;
      }

      @media screen and (min-width: 1500px) {
        padding: 4rem !important;
      }

      input:not([type=submit]),
      textarea {
        background-color: $contact-form-input-bg;
      }

      textarea {
        max-height: 10rem;
      }

      input {
        height: 4.19rem;
        margin-bottom: 0.3rem;
      }

      .lets-talk-title {
        @media screen and (min-width: 1500px) {
          margin-bottom: 3rem;
        }
      }

      label {
        @media screen and (max-width: 1500px) {
          font-size: 0.85rem;
        }
      }

      input[type=submit] {
        background-color: $contact-form-submit-bg;
      }

      input[type=text],
      input[type=email] {
        @media screen and (max-width: 1500px) {
          max-height: 2.8rem;
        }

        @media screen and (min-width: 1500px) {
          margin-bottom: 1.4rem;
        }
      }

    }
  }

  .lottie-fireworks {
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 7rem;
    top: 40%;
    left: 48%;
  }

  .testimonials-cards-container {
    position: relative;
    z-index: 3;
  }

  .single-card-col {
    max-width: 22rem;

    .card-footer-custom {
      background-color: $testimonials-card-footer-bg;
      @include media-breakpoint-up(sm) {
        height: 20rem;
      }

      .footer-description-custom {
        font-size: 0.72rem;
      }
    }
  }

  .d-custom-block {
    @media screen and (min-width: 1520px) {
      display: block !important;
    }
  }
}