.ui-ux-json {
  background-image: linear-gradient(#1c1647, #362b89);

  .ui-ux-json-title {
    font-size: 1.88rem;
  }

  .optimization {
    color: $pink;
  }

  .description {
    color: $neon;
    font-size: 0.88rem;
  }
}