.upwork {
  background: $gray;

  .bg-left {
    background-image: url("images/upwork/bg-left.png");
    background-repeat: no-repeat;
    background-position: -8rem 8rem;
    background-size: cover;
  }

  .bg-right {
    background-image: url("images/upwork/bg-right.png");
    background-repeat: no-repeat;
    background-position: 8rem 0rem;
  }

  .percentage-current {
    color: $percentage-color;
    font-size: 7rem;
    text-shadow: 3px 3px 7px black;
    line-height: 7rem;
  }

  .percentage-100 {
    color: $percentage-color;
    font-size: 3.13rem;
  }

  .upwork-text {
    color: $upwork-profile-link-color;
    font-size: 2.07rem;
  }

  .upwork-hr {
    border-bottom: 2px solid $upwork-profile-link-color;
  }
}