.upwork {
  background: $gray;

  .percentage-current {
    color: $percentage-color;
    font-family: 'Montserrat-Bold';
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    font-size: 4rem;
    line-height: 4rem;

    @include media-breakpoint-up(sm) {
      font-size: 5rem;
      line-height: 5rem;
    }

    @include media-breakpoint-up(md) {
      font-size: 5.63rem;
      line-height: 5.63rem;
    }

    @include media-breakpoint-up(lg) {
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
      font-size: 5.63rem;
      line-height: 5.63rem;
    }
  }

  .percentage-100 {
    color: $percentage-color;
    font-size: 2rem;
    font-family: 'Montserrat-ExtraLight';

    @include media-breakpoint-up(md) {
      font-size: 2.7rem;
    }

    @include media-breakpoint-up(lg) {
      font-size: 3.13rem;
    }
  }

  a.upwork-text {
    font-family: 'Montserrat-ExtraLight';
  }

  .upwork-text {
    color: $upwork-profile-link-color;
    font-size: 1.4rem;

    @include media-breakpoint-up(sm) {
      font-size: 1.7rem;
    }
  
    @include media-breakpoint-up(md) {
      font-size: 2.07rem;
    }
  }

  .upwork-hr {
    border-bottom: 2px solid $upwork-profile-link-color;
  }

  #lottie-blue,
  #lottie-yellow {
    max-width: 25rem;

    @media screen and (max-width: 1480px) {
      max-width: 21rem;
    }
  }

  .table-stars {
    @include media-breakpoint-down(lg) {
      .lottie-stars {
        max-width: 15rem;
      }
    }
  }

  .percentage-stars-container {
    @media screen and (max-width: 1199px) {
      margin-top: 2.5rem;
    }

    @media screen and (min-width: 1200px) and (max-width: 1480px) {
      margin-top: -17.7rem;
      
      .lottie-stars {
        max-width: 14rem !important;
      }
    }

    @media screen and (min-width: 1481px) {
      margin-top: -21.7rem;

      .numbers-stars-container {
        padding-right: 5rem;
      }
    }
  }
}