@for $i from 6 to 30 {
  .mt-#{$i} {
    margin-top: calc(#{$i} * 1rem) !important;
  }

  .mb-#{$i} {
    margin-bottom: calc(#{$i} * 1rem) !important;
  }

  .ml-#{$i} {
    margin-left: calc(#{$i} * 1rem) !important;
  }

  .mr-#{$i} {
    margin-right: calc(#{$i} * 1rem) !important;
  }

  .pt-#{$i} {
    padding-top: calc(#{$i} * 1rem) !important;
  }

  .pb-#{$i} {
    padding-bottom: calc(#{$i} * 1rem) !important;
  }

  .pl-#{$i} {
    padding-left: calc(#{$i} * 1rem) !important;
  }

  .pr-#{$i} {
    padding-right: calc(#{$i} * 1rem) !important;
  }
}

.hide {
  visibility: hidden;
}

.bg-unset {
  background: unset !important;
}

.z-index-10 {
  z-index: 10 !important;
}
