// Colors
$primary: #FFD500;
$secondary: #59D2E5;
$danger: #F08299;
$info: #59D2E5;
$placeholder-color: #221B57;
$gray: #EEEEEE;
$percentage-color: #292779;
$upwork-profile-link-color: #382D8D;
$pink: #F08299;
$pink-2: #FD4D73;
$neon: #2699FB;
$fashion-commercials-border: #BCE0FD;
$yellow: #FDE17E;
$testimonials-title: #4632A0;
$testimonials-card-bg: #FFC107;
$testimonials-card-footer-bg: #1b244d;
$contact-form-color: #666666;
$contact-form-input-bg: #D4D4D4;
$contact-form-submit-bg: #D05D79;
$play-button-hover-color: #FD4D7390;
$quote-breaking: #fc5075;