.who-is {
  background-color: $pink-2;

  .title {
    font-size: 1.88rem;
  }

  .lang {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3rem;

    @include media-breakpoint-up(xl) { 
      font-size: 4.1rem;
      line-height: 4.1rem;
    }
  }

  .who-is-description {
    @include media-breakpoint-up(xl) { 
      max-width: 60.82rem;
    }

    @media screen and (min-width: 1200px) and (max-width: 1500px) {
      max-width: 48rem;
    }
  }

  .flags-container {
    @include media-breakpoint-up(xl) { 
      max-width: 60.82rem;
    }

    @media screen and (min-width: 1200px) and (max-width: 1500px) {
      max-width: 48rem;
    }

    .flag {
      img {
        max-width: 3rem;
        border-radius: 15%;

        @include media-breakpoint-up(sm) { 
          max-width: 4.3rem;
        }

        @include media-breakpoint-up(md) { 
          max-width: 5rem;
        }

        @include media-breakpoint-up(lg) { 
          max-width: 5.5rem;
        }

        @include media-breakpoint-up(xl) { 
          max-width: 6.2rem;
        }
      }
    }
  }

  #lottie-white {
    position: absolute;
    bottom: 0;
    right: -6rem;

    @media screen and (min-width: 1200px) and (max-width: 1500px) {
      width: 34rem;
    }

    @media screen and (min-width: 1501px) and (max-width: 1650px) {
      width: 40rem;
    }
  }

  #mario {
    position: absolute;
    bottom: 0;
    right: -4.5rem;
    z-index: 1;

    @media screen and (min-width: 1501px) {
      width: auto !important;
    }

    img {
      max-width: 44.63rem;

      @media screen and (min-width: 1200px) and (max-width: 1500px) {
        width: 30rem;
      }
    }
  }
}